@page "/psicologos/{psicologoId}"
@using Application.Commands.Booking.NewBooking
@using Application.Queries.Booking.Search
@using Application.Queries.Psychologist.Search
@using Domain.Entities
@using MediatR
@using Front.Components
@using BlazorPro.Spinkit;
@inject IMediator mediator
@inject NavigationManager navManager

<SuccessAlert Message="@success" ShowAlert="@showSuccessAlert"></SuccessAlert>
<DangerAlert Message="@error" ShowAlert="@showErrorAlert"></DangerAlert>

<Loading IsLoading="_isLoading">
	<ChildContent>
		@if (_psychologist is null)
		{
			<p>nao achou</p>
		}
		else
		{
			<h3>@_psychologist.Name</h3>
			<br />
			<br />
			<h3>Descrição</h3>
			<h3>@_psychologist.Description</h3>
			<br />
			<br />
			<h3>Horários disponíveis</h3>
			<RadzenCard>
				<RadzenDatePicker @bind-Value=@Date DateFormat="d" Change=@(args => Search()) Class="w-100" />
			</RadzenCard>
			<table class="table">
				<thead>
					<tr>
						<th>Horário</th>
					</tr>
				</thead>
				<tbody>
					@if (_schedulesOfTheDay != null)
					{
						@foreach (var schedule in _schedulesOfTheDay)
						{
							<tr>
								<td>
									@if (schedule.IsBooked)
									{
										<RadzenButton Text="@schedule.TimeOfDay" ButtonStyle="ButtonStyle.Danger" Disabled="true" />
									}
									else
									{
										<RadzenButton Click=@(args => Book(schedule.TimeOfDay)) Text="@schedule.TimeOfDay" ButtonStyle="ButtonStyle.Info" />
									}
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
	</ChildContent>
</Loading>

@code {
	bool _isLoading = true;
	Psychologist? _psychologist;
	DateTime Date = DateTime.Today;
	List<ScheduleOfTheDay>? _schedulesOfTheDay = null;
	string? error;
	string? success;
	bool showErrorAlert;
	bool showSuccessAlert;

	[Parameter]
	public string? PsicologoId { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadPsycologistInformation();
			await Search();
		}
	}

	public async Task LoadPsycologistInformation()
	{
		if (!_isLoading)
			await ToggleLoading();

		_psychologist = (await mediator.Send(new PsychologistSearchQuery(PsicologoId, default, default)))?.FirstOrDefault();
	}

	public async Task Search()
	{
		if (!_isLoading)
			await ToggleLoading();

		_schedulesOfTheDay = await mediator.Send(new BookingSearchQuery(PsicologoId, Date));

		await ToggleLoading();
	}

	public async Task Book(string timeOfDay)
	{
		await ToggleLoading();

		try
		{
			error = null;
			showErrorAlert = false;
			showSuccessAlert = false;
			await Task.Delay(1);

			var hour = int.Parse(timeOfDay[..2]);
			var minutes = int.Parse(timeOfDay[3..]);

			var date = Date.AddHours(hour).AddMinutes(minutes);

			await mediator.Send(new NewBookingCommand(PsicologoId, date));

			success = "Horário agendado com sucesso";
			showSuccessAlert = true;
			await Task.Delay(1);
			StateHasChanged();
		}
		catch (Exception ex)
		{
			error = ex.Message;
			showErrorAlert = true;
			await Task.Delay(1);

			await ToggleLoading();
		}

		await Search();
	}

	private async Task ToggleLoading()
	{
		_isLoading = !_isLoading;
		await Task.Delay(1);
		StateHasChanged();
	}
}